

.Tag {
  display: flex;

  justify-content: center;

  border: 1.5px solid;
  background-color: var(--background-color);
  color: inherit;
  padding: 0.5rem;
  /* Controls spacing around the text */
  margin: -1.5px;
  /* writing-mode: sideways-lr; */
  font-size: 0.5rem;
  max-height: 5rem;
  /* transform: rotate(-90deg); */

}

.TagSection1 { 
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-right: 1.5px solid;
  /* margin-right: 0.2rem; */
  padding-right: 1rem;
  
  /* padding: 1rem; */
}

.TagSection2 { 
  /* position: relative; */
  flex-direction: column;
  border-right: 1.5px solid;
  padding-left: 1rem;
  padding-right: 1rem;



} 



.tag-row {
  display:inline-flex;
  /* flex-direction: column; */
  /* align-items: center; */
  
  gap: 0.5rem;

  
}

.TagLogo {
  width: 15rem;
  margin-top: -0.5rem;
  border-bottom: 1px solid;
}

.TagSection3 {
  padding-left: 1rem;
}

.social-links{
  margin-top: 0.5rem;
  border-bottom: 1px solid;
}
.social-icon {
  
  color: #aeaeae; /* Default color */
  font-size: 1.5rem; /* Adjust size as needed */
  margin: 0 0.5rem; /* Add spacing between icons */
  transition: color 0.3s ease;
  
}

.social-icon:hover {
  color: #ffffff; /* Color on hover */
}



.page {
  display: flex;
  background-image: url('/gridBG.svg');
  height: 100vh;
  border: 1.5px solid;
  margin: 0 1rem;
}