.Tag {
  display: flex;

  justify-content: center;

  border: 1.5px solid;
  background-color: var(--background-color);
  color: inherit;
  padding: 0.5rem;
  /* Controls spacing around the text */
  margin: -1.5px;
  writing-mode: sideways-lr;
  font-size: 0.5rem;

}

.TagSection1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1.5px solid;
  /* Adds a border between sections */
  padding: 1rem;
}

.TagSection2 {
  position: relative;
  flex-direction: column;
  border-top: 1.5px solid;
  padding: 1rem;

  /* display: inline-flex; */
  /* flex-direction: column; */
  /* gap: 0.5rem; */
  /* Space between rows */
}

.TagLogo {
  position: absolute;
  /* margin-left: 262; */
  margin-bottom: 3.5rem;
  max-height: 0.9rem;
  transform: rotate(-90deg);
}

.tag-row {
  display: flex;
  /* Aligns items in the row horizontally */
  align-items: center;
  /* Centers vertically within the row */
  gap: 0.5rem;

  /* Space between DR.BY and logo */
}





.page {
  display: flex;
  background-image: url('/gridBG.svg');
  height: 100vh;
  border: 1.5px solid;
  margin: 0 1rem;
}