.Tag {
  border: 1.5px solid ;
  background-color: var(--background-color);
  color: inherit; /* Ensures text color matches the color scheme */
  padding: 1rem; /* Example padding */
  
  
}
.page {
  display: flex;
  background-image: url('/gridBG.svg');
  height: 100vh;
  border: 1.5px solid;
  margin: 0 1rem;
}

/* Navbar container */



/* 
.lottie-logo {
  display: absolute;
  max-width: 500px;

  height: auto;
  margin: 0 1rem;


}

.logo p {
  position: absolute;
  align-items: center;

  padding: 1.5rem;
  margin: 0 3rem;
  font-size: 2rem;
} */