:root {
  --background-color: #242424; /* Define the background color variable */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color); /* Use the variable here */
  font-family: 'Courier New', Courier, monospace, system-ui;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff; /* Update variable for light mode */
    color: #213547;
    background-color: var(--background-color); /* Use the variable here */
  }
}
